<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/index.css">. {{!-- the forward / indecitat that these frile in public directory  --}}
      <title>HOME PAGE</title>
</head>
<body>
<div class="container">
      <div class="nav">
            <div><a href="/">HOME</a></div>
            <div><a href="/auth/profile">Profile</a></div>
            <div><a href="/judgement">People's judgement</a></div>
            <div><a href="/register">Login/Register</a></div>
      </div>
      <div class="contentbox">
            <div class="underline"><b><i>Blog :</i></b>lets share your thought</div>
            <p>"Making judgments is like choosing toppings for your pizza – it might not always be perfect, but it's impossible to resist adding a sprinkle of opinion!"</p>
            <div class="tagline">"Unleash the Unspoken: Your Words, Your World. Share the untold tales, spill the secret sauce, and let the anonymous adventure begin!"</div>
            <button>Rules you must know</button>
      </div>
</div>
</body>
</html>