<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/register.css">. {{!-- the forward / indecitat that these frile in public directory  --}}
      
      <title>HOME PAGE</title>
</head>
<body>
<div class="container">
      <div class="nav">
            <div><a href="/">HOME</a></div>
            <div><a href="/auth/profile">Profile</a></div>
            <div><a href="/judgement">People's judgement</a></div>
            <div><a href="/register">Login/Register</a></div>
      </div>
      {{!-- <div class="form"> --}}
            <form action="/auth/login" method="post" >
                  <div>name:<input type="text" name="name"></div>
                  <div>email:<input type="text" name="email"></div>
                  <div>password:<input type="password" name="password1"></div>
                  <button type="submit">Login</button>
                  <a href="/register">if you don't have account<i class="fa-solid fa-square-up-right"></i></a>
                  {{!-- <input type="submit" value="Submit"> --}}
            </form>
            <div class="alertdiv">
                  {{#if message}}
                  <h4 class="alert">{{message}}</h4>
                  {{/if}}
            </div>
      {{!-- </div> --}}
</div>
<script src="https://kit.fontawesome.com/3a5d1138c9.js" crossorigin="anonymous"></script>

</body>
</html>